@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/gotham');
@import url('https://fonts.cdnfonts.com/css/optien');

* {
  font-family: "Gotham", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  border-radius: 100px;
  background-color: #FF0037;
}
::-webkit-scrollbar-track{
  background-color: #0E0C0F;
}

